/* Provide sufficient contrast against white background */
* {
    font-family:Arial;
    padding:0;
    margin:0;
}

.display-4, .display-3, .display-2, .display-1 {
    font-family: system-ui;
}

a {
  color: #0366d6;

}

.paypal-logo{
    height:auto;
    width:auto;
    object-fit:scale-down;
    max-width:319px;
    max-height:110px;
}

.font-toogle{
    z-index:100;
    right:0;
    top:0px;
}

@media only screen and (max-width: 320px) {
    .paypal-logo {
        height: auto;
        width: 95vw;
        object-fit: scale-down;
        display:flex;
        justify-content:center;
    }
}

@media only screen and (max-width: 550px) {
    .paypal-logo {
        height: auto;
        width: 95vw;
        object-fit: scale-down;
    }
    .paypal-table {
        display: flex;
        justify-content: center;
    }
}

a:focus, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.carousel-control-prev, .carousel-control-next, .carousel-control-prev-icon:after, .carousel-control-next-icon:after, .carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
    opacity: 1 !important;
    color:black !important;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.bottomHeader {
    border-top: 1px solid gray;


}

.ProductLog {
    position: absolute;
    right: 0;
    z-index: 100000;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
}

.icon-19 {
    width: 26px;
    height: 26px;
    transition: all .2s ease-in;
    transform: scale(0.73);
}

.icon-19:hover {
    width: 26px;
    height: 26px;
    transition: all .2s ease-in;
    transform: scale(0.9);
}

.icon-19-dropdown {
    width: 19px;
    height: 19px;
    position: relative;
}

.dropdown-parent {
    padding-top: 0;
    padding-bottom: 0;
}

.AboutUnderline {
   border-bottom: 1px solid #1890ff;
   width:125px;
}

.MybooksUnderline {
    border-bottom: 1px solid #1890ff;
}

.icon-text {
    color: black;
}

.dropdown-parent:hover .icon-text {
    color: white;
}

.dropdown-parent:hover .icon-19-dropdown{
    color: white;
}

.dropdown-parent:hover {
    background-color: #007bff;
}

.icon-19-white {
    width: 26px;
    height: 26px;
    color:white;
    transition: all .2s ease-in;
    transform: scale(0.83);
}

.icon-19-white:hover {
        width: 26px;
        height: 26px;
        color:white;
        transition: all .2s ease-in;
        transform: scale(1);
}

.icon-30-white {
    width: 50px;
    height: 50px;
    color: white;
    transition: all .2s ease-in;
    transform: scale(0.63);
}

.icon-30-white:hover {
    width: 50px;
    height: 50px;
    color: white;
    transition: all .2s ease-in;
    transform: scale(0.83);
}

.icon-40-white {
    width: 40px;
    height: 40px;
    color:white;
    opacity:1 !important;
}

.icon-80-white {
    width: 80px;
    height: 80px;
    color: white;
    transform:scale(0.70);
    opacity: 1 !important;
}

.icon-80 {
    width: 80px;
    height: 80px;
    color: black;
    transform: scale(0.70);
    opacity: 1 !important;
}

.icon-40 {
    width: 40px;
    height: 40px;
    opacity:1 !important;
}

.icon-33 {
    width: 33.1px;
    height: 33.1px;
    opacity: 1 !important;
}

.icon-25{
    width:25px !important;
    height:25px !important;
}

.searchparent {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.7);
    animation: SearchVisibleAnim 0.35s ease-in normal;
}

.checkparent {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.7);
    animation: CheckParentVisibleAnim 2.3s ease-in-out forwards;
}

.collapse {
    max-height: 200px;
    overflow: auto;
    transition-timing-function: ease;
    transition-duration: 0.35s;
}

.collapsing {
    max-height: 200px;
    transition-timing-function: ease;
    transition-duration: 0.35s;
}

.dashed-bottom{
    border-bottom:1px dashed gray;
}

.description{
    max-width:100%;
}

.product-image{
    object-fit:scale-down;
    height: 450px;
}

@media only screen and (max-width: 320px) {
    .product-image {
        object-fit: scale-down;
        width: 280px;
    }
}

@media only screen and (max-width: 768px) {
    .product-image {
        object-fit: scale-down;
        height: 390px;
    }
}

@media only screen and (max-width: 991px) {
    .product-image {
        object-fit: scale-down;
        height: 450px;
    }
}

.collapse.show {
    visibility: visible;
    overflow: auto;
    display: block;
    max-height: 200px;
    transition-timing-function: ease;
    transition-duration: 0.35s;
}


.categories{
    border-bottom: 1px dashed gray;
}

.categories:hover{
    color:blue;
}

.check {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    animation: CheckVisibleAnim 2.3s ease-in-out forwards;
    z-index: 1000;
}

.checkText {
    position: fixed;
    color:white;
    left: 50%;
    transform: translate(-50%, 0);
    width:500px;
    font-size:25px;
    animation: CheckVisibleAnim 3s ease-in-out forwards;
    z-index: 1000;
}

@keyframes CheckParentVisibleAnim {
    0% {
        opacity: 0;
        display: none;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes CheckVisibleAnim {
    0% {
        opacity: 0;
        display: none;
    }

    20% {
        opacity: 0.1;
    }

    30% {
        opacity: 1;
    }

    50%{
        opacity:1;
    }

    100% {
        opacity: 0;
    }
}

.input-bottom-border{
    border: none;
    border-bottom: 1px solid #1890ff;
    padding: 5px 10px;
    outline: none;
    background:transparent;
    color:white;
}

.input-bottom-border::placeholder{
        color: white;
        opacity: 1; /* Firefox */
}


/*header*/
.nav{

}

.search {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    animation: SearchVisibleAnim 0.35s ease-in normal;
    z-index:1;
}

.close{
    z-index:1;
    opacity:1;
}

@keyframes SearchVisibleAnim {
    0% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 1;
    }
}

@keyframes HoverAnim {
    0% {
        opacity: 1;
        width:19px;
        height:19px;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}

.cart-image {
    max-width: 250px;
    max-height: 75px;
    width: auto;
    height: auto;
}

.cart-product {
    border-bottom: 0.25px solid rgba(0,0,0,0.1);
    border-top: 0.25px solid rgba(0,0,0,0.1);
    flex-wrap:unset;
    position:relative;

}

.cart-product-text{
    max-width:175px;
    position:relative;
}

.Cartparent {
    position: absolute;
    right: 0;
    animation: SearchVisibleAnim 0.25s ease-in normal;
    background-color: white;
    z-index: 1000;
    max-height: 260px;
    overflow: auto;
    border: 1px solid #cbc1c1;
    border-top:0;
}

.cross{
    position:absolute;
    right:0;
    top:0;
}

.dropdown-animated {
    display: block;
    transform-origin: top center;
    min-width: 12rem !important;
    animation: DropdownAnimation 300ms ease-in normal;
}

.product-preview {
    vertical-align: top;
    height: 400px;
    text-align:center;
}

.product-max-width{
    max-width:225px;
}

.text-height-48{
    height:48px;
}

.product-preview-img {
    height:300px;
    margin-left: auto;
    margin-right: auto;
    object-fit:scale-down;
}

.product-cart-preview-img {
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    object-fit: scale-down;
}

.preview-parent {
    position: relative;
}

.preview-children {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    opacity: 0;
    transition: all .2s ease-in;
}

.pieces-inline {
    white-space: nowrap;
}

.btn-outline-secondary{
    border:none;
}

.btn-outline-secondary:hover{
    background-color:#6c757d;
}

.product-cartpage-preview {
    border-bottom: 0.25px black solid;
    border-top: 0.25px black solid;
}

.preview-parent:hover .preview-children {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.75);
    opacity: 1;
    transition: all .2s ease-in;
}

.children-icons {
    transform: translateY(-100%);
}

@keyframes DropdownAnimation {
    0% {
        transform: rotateX(-90deg)
    }

    70% {
        transform: rotateX(20deg)
    }

    100% {
        transform: rotateX(0deg)
    }
}

    @media screen and (min-width: 0px) {
        .fixed-table {
            max-height: 270px;
            overflow: scroll;
        }
        .iOSAppGuide {
            object-fit: scale-down;
            width: 250px;
            height: auto;
        }
        .AndroidAppGuide {
            object-fit: scale-down;
            width: 225px;
            height: auto;
        }
    }

    @media screen and (min-width: 374px) {
        .cart-image {
            max-width: 250px;
            max-height: 75px;
            width: auto;
            height: auto;
        }

        .iOSAppGuide {
            object-fit: scale-down;
            width: 325px;
            height: auto;
        }
        .AndroidAppGuide {
            object-fit: scale-down;
            width: 325px;
            height: auto;
        }

        .fixed-table {
            max-height: 400px;
            overflow: scroll;
        }
    }


    @media screen and (min-width: 576px) {
        .cart-image {
            max-width: 250px;
            max-height: 80px;
            width: auto;
            height: auto;
        }

        .fixed-table {
            max-height: 650px;
            overflow: scroll;
        }
    }

    @media screen and (min-width: 768px) {
        .cart-image {
            max-width: 250px;
            max-height: 85px;
            width: auto;
            height: auto;
        }

        .fixed-table {
            max-height: 650px;
            overflow: scroll;
        }
    }

    @media screen and (min-width: 992px) {
        .cart-image {
            max-width: 250px;
            max-height: 90px;
            width: auto;
            height: auto;
        }

        .fixed-table {
            max-height: 700px;
            overflow: scroll;
        }
    }

    @media screen and (min-width: 1300px) {
        .Cartparent {
            position: absolute;
            right: 0;
            width: 30%;
            animation: SearchVisibleAnim 0.25s ease-in normal;
        }

        .fixed-table {
            max-height: 600px;
            overflow: scroll;
        }
    }

    @media screen and (min-width: 1500px) {
        .Cartparent {
            position: absolute;
            right: 0;
            animation: SearchVisibleAnim 0.25s ease-in normal;
        }

        .fixed-table {
            max-height: 650px;
            overflow: scroll;
        }
    }

    @media screen and (min-width: 1700px) {
        .Cartparent {
            position: absolute;
            right: 0;
            animation: SearchVisibleAnim 0.25s ease-in normal;
        }

        .fixed-table {
            max-height: 650px;
            overflow: scroll;
        }
    }

    .descriptionEditor {
        height: 250px;
        vertical-align: top;
    }

.DecoratedLink {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.PcAppGuide {
    object-fit: scale-down;
    width: 100%;
    height: auto;
}

.icon {
    transition: all .2s ease-in;
    transform: scale(0.9);
}

.icon:hover {
    transition: all .2s ease-in;
    transform: scale(1);
}

@media screen and (max-width: 350px) {

    .Title {
        font-size: 15px;
    }
}